
<div class="hero-cuisine">
    <h1>Our Cuisine Package</h1>
</div>

<h2>{{title}}</h2>

<div class="flex-cuisine">
    {{#if user.clerk}}
        {{#each cuisines }}
        <div>
            <a href='/dashboard/read?_id={{this._id}}'><img src="{{this.image}}"></img></a></br>
            {{this.name}}, {{this.country}}</br>
            CAD : {{this.price}}</br>
            Meals : {{this.meals}}</br>
            Top Ranked: {{this.rank}}</br>
            <div class="synop">
                {{this.synop}}</br>
            </div>  
        </div>
        {{/each}}
    {{else}}
        {{#each cuisines }}
        <div>
            <a href='/shopping/purchase?_id={{this._id}}'><img src="{{this.image}}"></img></a></br>
            {{this.name}}, {{this.country}}</br>
            CAD : {{this.price}}</br>
            Meals : {{this.meals}}</br>
            Top Ranked: {{this.rank}}</br>
            <div class="synop">
                {{this.synop}}</br>
            </div>  
        </div>
        {{/each}}
    {{/if}}
</div>
