
<div class="hero-home">
    <h1>Enjoy World's Cuisines</h1>
</div>

<div class="flex-contents">
    {{#each contents }}
    <div>
        <img src="{{this.image}}"></img></br>
        {{this.name}} </br>
        {{this.desc}} </br>
    </div>
    {{/each}}
</div>

<br/>

<div class="flex-cuisine">
    {{#each cuisines }}
    <div>
        <img src="{{this.image}}"></img></br>
        {{this.name}} </br>
        CAD : {{this.price}} </br>
        Meals : {{this.meals}} </br>
    </div>
    {{/each}}
</div>
